.home-container {
  width: 100%;
}

// TODO use container queries
.carousel {
  display: flex;
  justify-content: center;
  margin: 0 12%;
}

.recent-experiences {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3e5e32;
  height: 280px;
  color: white;
  flex-direction: column;
  padding: 10px;
}

.experience-button {
  background-color: white;
  padding: 5px;
}
