.card {
  background-color: white;
  justify-content: center;
  align-content: space-between;
  text-align: center;
  padding: 10px;
  height: 250px;
  width: 250px;
  margin: 12px;
  border-radius: 5px;
}

.details {
  text-align: left;
  height: 90px;
}

h2 {
  font-size: larger;
}

.heading {
  height: 90px;
  align-content: center;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}
