.card {
  background-color: white;
  justify-content: center;
  align-content: space-between;
  text-align: center;
  padding: 5px;
  height: 250px;
  width: 250px;
  margin: 12px;
}

.details-link {
  margin-top: 10px;
  background-color: #adc2a7;
  padding: 8px;
  text-align: center;
}
